@function image($url){
  @return url('../imgs/'+$url) top center no-repeat;
}
$spin:rgba(0, 255, 0, 0.2);

%floatBox{
  &>*{
    float:left;
  }
  &::after{
    content:'';
    display: block;
    clear:both;
  } 
}

*{
  padding: 0;
  margin: 0;
}

html{
  background: #fff;
}
body,.container{
  background: linear-gradient(180deg,#33adf1,#3eb8f5);
}
body{
  font-size:16px;
  width:7.5rem;
  margin:0 auto;
}
.header{
  background: image('back.jpg');
  background-size: cover;
  width:7.5rem;
  max-width:100%;
  height:7.93rem;
}

.week{ 
  margin: 0.9rem 0.25rem;
  border-radius: 8px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.14);
  position: relative;
  .tag{
    width:2.97rem;
    height:0.71rem;
    position: absolute;
    top:-0.49rem;
    left:50%;
    transform:translate3d(-50%,0,0);
    background-size: contain !important;
  }
  .title{
    background: #fff;
    border-radius: 8px 8px 0 0;
    text-align:center;
    padding:0.35rem 0 0;
    font:.3rem/.45rem styuanti,'微软雅黑';
    &>span::after{
      content:'';
      display: block;
      clear:both;
    }
  }
  .top{
    @extend %floatBox;
    background: #fff;
    padding:0.22rem 0.4rem 0 2.6rem;
    .book-cover{
      width:1.82rem;
      height:2.52rem;
      margin-left:-2.2rem;
      border-radius: 6px;
      box-shadow: 0px 3px 4px 1px	rgba(140, 140, 140, 0.17);
      .hot{
        width: 0.67rem;
        height: 0.37rem;
        border-radius: 6px 0 10px 0;
        background: #f5575c;
        text-align: center;
        font-size:13px;
        line-height: 0.37rem;
        color:#fff;
      }
      img{
        max-width:100%;
      }
    }
    .book-content{
      .book-name{
        font:.32rem/.5rem '微软雅黑';
        color: #444;
      }
      .book-desc{
        font:.28rem '微软雅黑';
        color: #333;
      }
      .book-btn{
        width:1.49rem;
        height:0.55rem;
        background: image('btn_t_0.png');
        background-size: contain !important;
        margin:8px 0;
      }
      .checked{
        background:image('btn_t_1.png');
      }
    }
  }
  .divide{
    width:100%;
    display: block;
  }
  .content{
    /* @extend %floatBox;*/
    background:#fff;
    border-radius: 0 0 8px 8px;
    text-align: center;
    .book{
      font:12px '微软雅黑';
      width:1.72rem;
      height:2.89rem;
      margin:0.2rem;
      display: inline-block;
      vertical-align: top;
      .cover{
        height:2.38rem;
        border-radius: 6px;
        position: relative;
        box-shadow: 0px 3px 4px 1px	rgba(140, 140, 140, 0.17);
        &>div{
          width: 100%;
          position: absolute;
          bottom: 0;
          width: 100%;
          background: rgba(255, 255, 255, 0.66);
        }
      }
      .name{
        font-family: SourceHanSansCN-Medium;
        font-size: .24rem;
        line-height: .65rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #343434;
      }
    }
  }
  .book-btn{
    width: 1.47rem;
    height:0.44rem;
    background: #18bce5;
    border-radius: 50px;
    margin: 8px auto;
    background: image('btn_0.png');
    background-size: contain !important;
  }
  .checked{
    background:image('btn_1.png');
  }
}
.week.week0 .tag {
  background: image("week0.png"); }
.week.week0 .title {
  color: #6fb0ed; }

.week.week1 .tag {
  background: image("week1.png");
 }
.week.week1 .title {
  color: #cc4212; }

.week.week2 .tag {
  background: image("week2.png"); 
}
.week.week2 .title {
  color: #e80f0f;
 }
.week.week3 .tag {
  background: image("week3.png");
 }
.week.week3 .title {
  color: #ca7130;
 }
.week.week4 .tag {
  background: image("week4.png");
 }
.week.week4 .title {
  color: #18bce5;
 }

.tail{
  background: image('backbottom.png');
  background-size: cover;
  width:7.5rem;
  max-width:100%;
  height:1.1rem;
}

.weixin{
  background: image('weixin.png');
  background-size: cover;
  width:100%;
  width:7.5rem;
  max-width:100%;
  height:1.8rem;
  position:fixed;
  bottom:0;
  z-index: 100;
  display: none;
}

#AlertBox{
  .mail{
    width: 2.25rem;
    height: 1.89rem;
    background:image('mailBox.png');
    background-size: cover;
    position: absolute;
    top:-.945rem;
    left:50%;
    margin-left:-1.125rem;
  }
  .content{
    text-align: center;
    font-family: PingFang-SC-Bold;
    .title{
      font-size: 0.32rem;
      line-height: 0.37rem;
      font-weight: 900;
      letter-spacing: 0px;
      color: #666666;
      margin-top:1.12rem;
    }
    .content{
      font-size: 0.3rem;
      line-height: 1.7;
      color: #666666;
      margin-top:.15rem;
    }
    .notice{
      font-size: .32rem;
      line-height: .37rem;
      color: #ec5c54;
      margin-top:.15rem;
    }
  }
}
