@function image($url) {
  @return url("../imgs/"+$url) center no-repeat;
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
}

body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  & > * {
    min-width: 980px;
  }
}

ul,
li {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.staticBlock {
  max-width: 80%;
  min-width: 980px;
  margin: 0 auto;
}

.clearfloat::after {
  content: "";
  display: block;
  clear: both;
}

.clearMargin {
  &::before,
  &::after {
    content: "";
    display: block;
    overflow: hidden;
  }
}

.navigator {
  width: 100%;
  height: 76px;
  overflow: hidden;
  li {
    float: left;
    margin-right: 50px;
    a {
      color: #999;
      font: 16px/75px "微软雅黑";
      padding: 0 0 6px;
    }
    &:hover a.use,
    a.active {
      color: #0baebf;
      font: 16px/75px "微软雅黑";
      border-bottom: 2px solid;
    }
  }
  ul {
    position: relative;
    left: 100px;
  }
  .logo {
    width: 39px;
    height: 66px;
    position: relative;
    left: -100px;
    background: image("logo.png");
    top: 4px;
  }
}

.banner {
  width: 100%;
  height: 638px;
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.picblock {
  padding: 150px 0;
  & > div {
    text-align: center;
    font-size: 0;
  }
  .block {
    vertical-align: top;
    font-size: 16px;
    display: inline-block;
    width: 33%;
    height: 0;
    padding-bottom: 30%;
    border: 20px solid #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    left: 0;
    top: 0;
    z-index: 1;
    overflow: hidden;
    &:nth-child(3n + 1) {
      clear: left;
    }
    .title {
      color: #4c4747;
      font: 30px/34px "微软雅黑";
      border: 2px solid #4c4747;
      padding: 4px;
      display: inline-block;
      margin: 30% auto 10%;
      .underline,
      .ancle {
        display: none;
      }
    }
    .des {
      color: #4c4747;
      font: 18px/34px "微软雅黑";
      padding: 4px;
      margin: 0 auto;
      clear: both;
      text-align: center;
      span {
        display: block;
      }
    }
    @media screen and (max-width: 1360px) {
      .des {
        font: 16px/28px "微软雅黑";
      }
    }
    @media screen and (max-width: 1230px) {
      .des {
        font: 14px/24px "微软雅黑";
      }
    }
    .mainTitle {
      background: image("around.jpg");
      width: 328px;
      height: 50px;
      position: absolute;
      top: 160px;
      left: 50%;
      top: 50%;
      margin-left: -164px;
      margin-top: -55px;
    }
    .proButton {
      background: image("proButton.jpg");
      width: 178px;
      height: 64px;
      position: absolute;
      top: 180px;
      left: 50%;
      top: 50%;
      margin-left: -89px;
      margin-top: 20px;
    }
  }
  .block1 {
    border-color: #ed9ab6;
    background-color: #fae1e9;
  }

  .block1:hover {
    background: image("1.jpg");
    background-size: 100%;
  }

  .block2 {
    border-color: #7fc4d3;
    background-color: #d9edf2;
  }

  .block2:hover {
    background: image("2.jpg");
    background-size: 100%;
  }

  .block3 {
    border-color: #fae158;
    background-color: #fef6cd;
  }

  .block3:hover {
    background: image("3.jpg");
    background-size: 100%;
  }

  .block4 {
    border-color: #a8b6e4;
    background-color: #e5e9f7;
  }

  .block4:hover {
    background: image("4.jpg");
    background-size: 100%;
  }

  .block5 {
    border-color: #fff;
    background-color: #fff;
  }

  .block6 {
    border-color: #f385c8;
    background-color: #fbdbef;
  }

  .block6:hover {
    background: image("6.jpg");
    background-size: 100%;
  }

  .block7 {
    border-color: #f38585;
    background-color: #fbdbdb;
  }

  .block7:hover {
    background: image("7.jpg");
    background-size: 100%;
  }

  .block8 {
    border-color: #b5dc8c;
    background-color: #e9f5dd;
  }

  .block8:hover {
    background: image("8.jpg");
    background-size: 100%;
  }

  .block9 {
    border-color: #e5fa58;
    background-color: #f7fecd;
  }

  .block9:hover {
    background: image("9.jpg");
    background-size: 100%;
  }

  .block1:hover,
  .block2:hover,
  .block3:hover,
  .block4:hover,
  .block6:hover,
  .block7:hover,
  .block8:hover,
  .block9:hover {
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
    top: 10px;
    z-index: 2;
    -webkit-box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.05);
    border: 10px solid #fff;
    .des {
      display: none;
    }
    .title {
      font: 24px/34px "微软雅黑";
      margin-top: 70%;
      float: right;
      border: none;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      padding: 5px 40px 5px 10px;
      .ancle {
        display: inline-block;
        width: 0;
        height: 0;
        border: 6px solid #fff;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        position: relative;
        top: -5px;
      }
      .underline {
        position: relative;
        width: 100%;
        height: 8px;
        display: block;
        bottom: -20px;
        background: rgba(255, 255, 255, 0.56);
        padding: 0 40px 0 10px;
        left: -10px;
      }
    }
  }
}

.introduce {
  & > .title {
    background: image("good.jpg");
    width: 328px;
    height: 55px;
    margin: 0 auto 30px;
  }

  .introCard1 {
    background: image("intro1.png");
    background-size: 40% !important;
    background-position-x: 94%;
    background-position-y: 66% !important;
  }

  .introCard2 {
    background: image("intro2.png");
    background-position-x: 90%;
  }

  .introCard3 {
    background: image("intro3.png");
    background-position-x: 94%;
  }

  .introCard4 {
    background: image("intro4.png");
    background-position-x: 94%;
  }

  .introCard {
    width: 50%;
    height: 440px;
    float: left;
    background-position-y: 75%;
    padding: 30px 30px 30px 85px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-size: 45%;
    position: relative;
    .title {
      font: 24px "微软雅黑";
      & > span {
        font: 58px "微软雅黑";
      }
    }
    .des {
      width: 55%;
      font: 14px/28px "微软雅黑";
      margin: 30px 0 50px;
    }
    @media screen and (max-width: 1400px) {
      .des {
        width: 100%;
      }
    }
    .button {
      background: image("button.jpg");
      width: 180px;
      height: 64px;
      position: absolute;
      left: 85px;
      bottom: 130px;
    }
  }
}

.history {
  height: 634px;
  padding: 20px;
  margin: 40px auto;
  overflow: hidden;
  box-sizing: border-box;
  .swiper-container2 {
    width: 100%;
  }
  .swiper-slide {
    height: 250px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 300px;
    .pic {
      background-size: 100%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border: 20px solid #fff;
      width: 100%;
      height: 180px;
      position: absolute;
      top: 0;
    }
    &:nth-child(1) .pic {
      background: image("footer1.jpg");
    }
    &:nth-child(2) .pic {
      background: image("footer2.jpg");
    }
    &:nth-child(3) .pic {
      background: image("footer3.jpg");
    }
    &:nth-child(4) .pic {
      background: image("footer4.jpg");
    }
    &:nth-child(5) .pic {
      background: image("footer5.jpg");
    }
    .title {
      position: absolute;
      top: 190px;
      font: 13px/32px "微软雅黑";
    }
  }
  & > .title {
    background: image("history.jpg");
    width: 328px;
    height: 55px;
    margin: 60px auto 30px;
  }
  & > .button {
    background: image("allhistory.png");
    width: 178px;
    height: 64px;
    margin: 90px auto 145px;
  }
}

.meta {
  background: #1c1c1c;
  height: 265px;
  .content {
    height: 100%;
    position: relative;
    & > div {
      height: 100%;
      float: left;
      padding: 50px 0 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    .add {
      width: 400px;
    }
    .foc {
      position: absolute;
      right: 100px;
    }
    .title {
      color: #fff;
      font-size: 22px;
    }
    .message {
      padding: 30px 0;
      color: #646464;
      font: 16px/30px "微软雅黑";
    }
    .foc .message > div {
      float: left;
      background: image("social.jpg");
      width: 80px;
      height: 112px;
    }
    .foc .message div:nth-child(1) {
      background-position-x: -6px;
    }
    .foc .message div:nth-child(2) {
      background-position-x: -91px;
    }
    .foc .message div:nth-child(3) {
      background-position-x: -176px;
    }
  }
}

.about {
  .about_intro {
    text-align: center;
    padding: 120px 0 140px;
    .content {
      width: 50%;
      padding: 10px 24px;
      margin: 0 auto;
      text-align: left;
      text-indent: 40px;
      font: 14px/30px "微软雅黑";
      border: 1px solid #000;
    }
  }
  .intro_box {
    width: 100%;
    .line {
      line-height: 0;
      .img img {
        position: relative;
        max-width: 100%;
        transition: transform 0.5s;
        &:hover {
          transform: scale(1.2, 1.2);
          z-index: 5;
        }
      }
      .img,
      .content {
        width: 50%;
        float: left;
      }
    }
    .line:nth-child(2n) {
      .img {
        position: relative;
        left: 50%;
      }
      .content {
        position: relative;
        left: -50%;
      }
    }
  }
  .content {
    background-size: 80%;
    text-align: center;
    img {
      max-width: 80%;
      max-height: 80%;
      margin: 72px auto;
    }
  }
}
.banner_bottom {
  img {
    width: 100%;
  }
}
.big_event {
  text-align: center;
  padding: 30px auto 30px;
  img {
    max-width: 100%;
  }
}
.buy {
  background: #f2f2f2;
  min-height: 460px;
  text-align: center;
  & > * {
    display: inline-block;
    max-height: 200px;
    vertical-align: middle;
    margin: 130px 20px;
  }
  @media screen and (max-width: 1260px) {
    & > * {
      display: block;
      margin: 20px auto;
    }
  }
}
.cutling {
  height: 37px;
  background: image("cutline.jpg");
  background-repeat: repeat-x;
}
.product {
  & > * {
    width: 33%;
    display: inline-block;
    text-align: center;
    padding: 60px;
    box-sizing: border-box;
    vertical-align: top;
    img {
      max-width: 100%;
    }
    .title {
      font: bold 18px/40px "微软雅黑";
      margin-top: 14px;
    }
    .metas {
      font-family: "STHeitiSC";
    }
  }
}
.ways {
  position: relative;
  img {
    max-width: 100%;
  }
  .content {
    width: 32vw;
    height: 32vw;
    border: 2px solid #fff;
    position: absolute;
    top: 50%;
    margin-top: -13vw;
    left: 50%;
    margin-left: -16vw;
    color: #fff;
    text-align: center;
    .title {
      font: 18px/32px "微软雅黑";
      margin-top: 32px;
    }
    .des {
      font: 13px/24px "宋体";
    }
  }
}
.history_content {
  min-height: 900px;
  text-align: center;
  padding: 180px 0 220px;
  .card {
    width: 660px;
    height: 420px;
    display: inline-block;
    margin: 70px 0 0 40px;
    position: relative;
    .time {
      position: absolute;
      left: 0;
      top: 0;
      .month {
        font: 32px/28px "宋体";
      }
      .day {
        font: 50px/46px "黑体";
      }
      .year {
        background-color: #95c2d1;
        color: #fff;
        text-align: center;
        line-height: 23px;
        font: 22px "黑体";
      }
    }
    .pic {
      background: #0f9;
      width: 600px;
      height: inherit;
      position: relative;
      left: 60px;
      border: 16px solid #fff;
      box-sizing: border-box;
      box-shadow: 0 0 6px #dcdcdc;
    }
    .title {
      position: relative;
      left: 60px;
      font: 24px/40px "黑体";
      margin-top: 20px;
      text-align: left;
    }
    &:nth-child(1) .pic {
      background: image("story1.jpg");
    }
    &:nth-child(2) .pic {
      background: image("story2.jpg");
    }
    &:nth-child(3) .pic {
      background: image("story3.jpg");
    }
    &:nth-child(4) .pic {
      background: image("story4.jpg");
    }
  }
}
